.background-contact {
    position: relative;
    background-image: url(https://images.pexels.com/photos/7682340/pexels-photo-7682340.jpeg?auto=compress&cs=tinysrgb&w=600);
    width: 100%;
    min-height: 300px;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.background-contact::after {
    position: absolute;
    content: "";
    background-color: rgba(0, 0, 0, 0.696);
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}


.background-contact > * {
    position: relative;
    z-index: 2;
}


@media (min-width: 768px) {
    .background-contact {
        width: 390px;
        height: 390px;
    }
}