@media (max-width: 457px) {
    .flight-search-form{
        display: block;
        width: 85%;
        margin: 0 auto;
        border: 3px solid red;
    }
    .form-group{
        display: block;
    }
}