@font-face {
  font-family: Josefin_Sans;
  src: url(./assets/fonts/Cerabold/CeraPro-Bold.ttf);
}

@font-face {
  font-family: Moon;
  src: url(./assets/fonts/Moon_Dance/MoonDance-Regular.ttf);
}

@import "tailwindcss";
@import "tailwindcss/preflight";
@tailwind utilities;

@import "@radix-ui/themes/styles.css";


@theme {
  --font-Josefin: Josefin_Sans, "san-serif";
  --font-Moon: Moon, "san-serif";
}

body {
  @apply bg-[rgb(32,34,39)];
  @apply text-[rgb(255,255,255)];
}

/* Navbar Fix */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--nav-height);
  z-index: 1000;
  background: rgba(23, 23, 23, 0.95);
  backdrop-filter: blur(10px);
}

html {
  scroll-behavior: smooth;
}

